*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

:root {
    --Green-200: hsl(148, 38%, 91%);
    --Green-600: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
    font-size: 10px;
}

@font-face {
    font-family: 'Karla';
    src: url(assets/fonts/Karla-VariableFont_wght.ttf) format(truetype);
    font-weight: 400 700;
    font-style: normal;
}

@font-face {
    font-family: 'fontBold';
    src: url(assets/fonts/static/Karla-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'fontRegular';
    src: url(assets/fonts/static/Karla-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 10px;
    min-height: 100vh;
}

.input-hint {
    color: var(--Red);
    font-size: 1.4rem;
    display: none;
}

.query-alert-message {
    align-self: flex-start;
    margin-top: -1.4rem;
    margin-bottom: 1.2rem;
}

.message-area-alert {
    align-self: flex-start;
    margin-top: 1rem;
}

.consent-error-message {
    align-self: flex-start;
    margin-top: 1rem;
}

/* error-state = form-error
    input-hint = form-alert    
*/
input[type="text"].error-state,
input[type="email"].error-state {
    border: 1px solid var(--Red);
}

.required-input {
    color: var(--Green-600);
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Green-200);
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
    align-self: flex-start;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    margin: 1.2rem;
    padding: 1.2rem;
    border-radius: 10px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container form .text-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.form-container form .text-input .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.6rem;
    margin: 1.2rem;
    font-size: 1.6rem;
}

.form-container form .text-input .input input {
    max-width: 100%;
    padding: 1rem;
    width: 270px;
    border-radius: 5px;
    border: 1px solid var(--Grey-900);
    font-size: 1.6rem;
    cursor: pointer;
    transition: border-color .3s ease-in-out;
}

.form-container form .text-input .input input:hover {
    border-color: var(--Green-600);
}

.form-container form .text-input .input input:focus {
    outline: none !important;
    border-color: var(--Green-600);
    box-shadow: 0 0 10px var(--Green-200);
}

.form-container form .query-inputs {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.6rem;
    gap: 1rem;
}

.form-container form .query-inputs .query-type {
    align-self: flex-start;
    font-size: 1.6rem;
}

.form-container form .query-inputs .radio-buttons {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1.2rem 0;
    gap: 1rem;
}

.radio-buttons .radio-button label {
    font-size: 1.6rem;
    margin-left: 1.7rem;
    display: inline-flex;
    align-items: center;
    gap: 1.2rem;
    max-width: 100%;
    cursor: pointer;
}

.form-container form .query-inputs .radio-buttons .radio-button {
    border: 1px solid var(--Grey-900);
    width: 270px;
    padding: .9rem 1.2rem .9rem 1.2rem;
    max-width: 100%;
    border-radius: 5px;
}

.form-container form .query-inputs .radio-buttons .radio-button:active {
    background-color: var(--Green-200);
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label svg {
    display: inline-block !important;
    margin-right: .1rem;
}

.radio-button label svg path {
    fill: transparent;
    stroke: var(--Grey-900);
    stroke-width: 1;
    cursor: pointer;
}

.radio-buttons input[type="radio"]:checked + label svg path {
    fill: var(--Green-600);
    stroke: var(--Green-600);
}

.radio-button:hover {
    border-color: var(--Green-600);
    cursor: pointer;
}

.radio-button:hover label svg path {
    stroke: var(--Green-600);
    cursor: pointer;
}

.message-input {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
}

.message-input .message-header {
    font-size: 1.6rem;
    align-self: flex-start;
    margin-bottom: .8rem;
}

.message-input .text-area {
    border-radius: 5px;
    max-width: 100%;
    align-self: flex-start;
    width: 295px;
    font-size: 1.6rem;
}

.message-input .text-area:focus {
    outline: none !important;
    border-color: var(--Green-600);
    box-shadow: 0 0 10px var(--Green-200);
}

.consent {
    max-width: 100%;
    display: flex;
    flex-direction: column;  /* so that they're properly aligned with the input-hint message*/
    justify-content: center;
    align-items: center;
    margin: 4.2rem auto 4.2rem 1rem;
}

.consent .checkbox-consent {
    display: flex;
    gap: 1rem;
    cursor: pointer;   
}

.consent .checkbox-consent input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--Green-600);
}

.consent .checkbox-consent label {
    font-size: 1.6rem;
    gap: 1rem;
    max-width: 100%;
    width: 250px;
    cursor: pointer;
}

.form-container form .submit-button {
    max-width: 100%;
    background-color: var(--Green-600);
    color: var(--White);
    border-radius: 7px;
    border: 0;
    padding: 1.6rem;
    outline: 0;
    width: 290px;
    text-align: center;
    font-size: 1.6rem;
    cursor: pointer;
    transition: box-shadow .5s ease-in-out;
}

.form-container form .submit-button:hover {
    box-shadow: 0 0 10px var(--Grey-900);
}

.success-message {
    background-color: var(--Grey-900);
    color: var(--Green-200);
    width: 35ch;
    padding: 1.6rem;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .35rem;
    font-size: 1.4rem;
}

.success-message.active {
    display: block;
    pointer-events: all;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0%, 25%, 50%, 75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.success-message .success-message-header {
    color: var(--White);
    margin-bottom: .5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.6rem;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    font-size: 1.4rem;
    margin: 1.2rem;
}

.attribution a {
     color:rgb(35, 116, 116);
     padding-left: .3rem;
}

.attribution a:hover {
    color: rgb(12, 62, 62);;
}

@media (min-width: 720px) {
    main {
        padding: 4rem;
    }

    .form-container {
        width: 600px;
        padding: 2.4rem;
        -webkit-box-shadow: 1px 8px 16px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 8px 16px -2px rgba(0,0,0,0.75);
        box-shadow: 1px 8px 16px -2px rgba(0,0,0,0.75);
    }
    
    .form-container form .text-input {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0 1.2rem; 
        max-width: 100%; 
    }

    .form-container form .text-input .input {
        width: 45%;
        margin: 1.2rem 1.6rem 1.2rem 0;
    }

    .form-container form .text-input .email-address {
        width: 100%;
    }

    .form-container form .text-input .input input {
        width: 100%;
    }

    .form-container form .query-inputs .radio-buttons{
        flex-direction: row;
    }

    .message-input {
        align-self: flex-start;
        width: 100%;
        padding: 0;
        margin-left: -.1rem;
    }

    .message-input .text-area {
        width: 100%;
    }

    .consent {
        width: 100%;
    }
    
    .consent .checkbox-consent {
        align-self: self-start;
    }

    .consent .checkbox-consent label {
        width: 100%;
        font-size: 1.8rem;
    }

    .form-container form .submit-button {
        width: 100%;
    }

    .success-message {
        width: max-content;
        top: 10%;
        padding: 1.5rem;
    }

    .attribution {
        margin-top: 4rem;
        font-size: 1.6rem;
    }
}